@charset "UTF-8";


.divcofre {
    font-size:9ch ; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.contsaldo {
    width: 100vw;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divsaldo {
    color: aliceblue ;
    width: 40vw;
    height: 15vh;
    background: #2f2841;
    margin-left: -100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.divextrato {
    color: aliceblue ;
    width: 40vw;
    height: 15vh;
    background: #2f2841;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.divobjetivo {
    width: 30vh;
    height: 10vh;
    background: #00000056;
    margin-left: 7vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    /*text-align: center;
    justify-content: center;
    align-items: center;*/
    display: inline-flex;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.objetivo {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*
label {
justify-content: left ;
}
*/